<p id="notice"><%= notice %></p>

<p>
  <b>Org:</b>
  <%= @user.org_id %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Org:</b>
  <%= @user.org_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
