<p id="notice"><%= notice %></p>

<p>
  <b>Call:</b>
  <%= @result.call_id %>
</p>

<p>
  <b>Outcome:</b>
  <%= @result.outcome_id %>
</p>

<p>
  <b>In favor:</b>
  <%= @result.in_favor %>
</p>

<p>
  <b>Comments:</b>
  <%= @result.comments %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
